*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif

}
 
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(backgrouhd.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);


}

body {
    background: rgb(0, 0, 0);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    
}


h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight:500;
    margin-bottom: 20px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 1rem;
    font-weight: 500;
}



#button1 {
    background-color: rgb(255, 196, 87);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;

}