*{
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif

}
 

.intro{
    height: 100vh;
    background-image: url("test1.png");
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
    background-position: center;
}

.about{
  max-width: 900px;      
  margin: 0 auto;        
  padding: 60px 20px;   
  text-align: center; 
}

#button1{
    background-color: rgb(158, 166, 140);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;

}